body {
	font-family: 'Open Sans', courier;
	background: url(images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
}

p, ul {
	font-size: 1.1em;
	line-height: 32px;
}

.navbar {
	background-image: url(images/subtle_carbon.png);
	opacity: .9;
	position: relative;
	z-index: 2;
}

.navbar a.navbar-brand::before, h1::before, h2::before, h3::before, h4::before {
	content: "> ";
}

.navbar a.navbar-brand {
	font-family: 'Anonymous Pro', courier;
	font-size: 2.5em;
	color: #ff0066;
	border-bottom: none;
}

.navbar a.navbar-brand:hover {
	color: #0000ff;
}

.nav li a, .nav li a:link, .nav li a:visited, .nav li a:active {
	font-family: 'Anonymous Pro', courier;
	font-size: 1.2em;
	color: #ccc;
	border-bottom: none;
}

.nav.navbar-nav li a:hover {
	color: #fff;
}

.dropdown-menu, .dropdown-menu li a:hover {
	background-color: #000;
}

h1, h2, h3, h4 {
	font-family: 'Anonymous Pro', courier;
}

h1, h2 {
	color: #ff0066;
}

h3, h4 {
	color: #0000ff;;
}

div.content {
	background: rgba(255,255,255,.9);
	color: #333;
	width: 80%;
	margin: 0 auto 50px auto;
	padding: 5px 20px;
	border-radius: 5px;
	opacity: .95;
	z-index: 1;
	border: 1px dotted black;
}

img {
	width: 100%;
	border-radius: 10px;
}

img, h1, p {
	margin-bottom: 15px;
}

p.center {
	text-align: center;
}

img.small-pic {
	max-width: 400px;
}

a, a:link, a:visited, a:active {
	text-decoration: none;
	color: #222;
	border-bottom: 2px solid #ff0066;
}

a:hover {
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

/********** Footer **********/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2px;
  /* Set the fixed height of the footer here */
  height: 20px;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  font-size: .7em;
  color: #ff0066;
  letter-spacing: 2px;
}

/********** Small devices **********/
@media (max-width: 767px) {

	.navbar a.navbar-brand {
		font-size: 2em;
	}

	div.content {
		width: 95%;
	}
}