body {
	font-family: georgia;
	background: #fff;
}

p, ul {
	font-size: 1.1em;
	line-height: 32px;
}

.navbar {
	background: #333;
	position: relative;
	z-index: 2;
	margin: 0;
	border: none;
	border-radius: 0;
}

.navbar a.navbar-brand {
	font-family: 'Oswald', georgia;
	font-size: 3em;
	text-transform: uppercase;
	color: #33cccc;
	border-bottom: none;
}

.navbar a.navbar-brand:hover {
	color: #fff;
}

.nav li a, .nav li a:link, .nav li a:visited, .nav li a:active {
	font-family: 'Oswald', georgia;
	font-size: 1.5em;
	text-transform: uppercase;
	color: #33cccc;
	border-bottom: none;
}

.nav li.dropdown.open a.dropdown-toggle {
	background-color: #333;
}

.nav.navbar-nav li a:hover {
	color: #fff;
}

.dropdown-menu, .dropdown-menu li a:hover {
	background-color: #333;
}

header {
	height: 275px;
	background: url(images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	margin: 0;
}

.header-tint {
	height: 275px;
	margin: 0;
	background-color: rgba(255, 255, 255, .4);
}

h1, h2, h3, h4 {
	font-family: 'Oswald', georgia;
}

h1, h2, h3, h4 {
	color: #248f8f;
}

div.content {
	color: #333;
	background-color: #fff;
	width: 90%;
	margin: 0 auto 50px auto;
	padding: 5px 20px;
	opacity: .95;
	z-index: 1;
}

img {
	border-radius: 10px;
}

p.center {
	text-align: center;
}

a, a:link, a:visited, a:active {
	text-decoration: none;
	color: #333;
	border-bottom: 2px solid #33cccc;
	transition: color 1s, background-color 1s;
}

a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #33cccc;
	cursor: pointer;
}

img.side {
	float: left;
	max-width: 300px;
	margin-right: 20px;
}

img.full-width {
	width: 100%;
}

/********** Footer **********/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2px;
  /* Set the fixed height of the footer here */
  height: 20px;
  background: #fff;
  text-align: center;
  font-size: .7em;
  color: #33cccc;
  letter-spacing: 2px;
}

/********** Small devices **********/
@media (max-width: 767px) {

	.navbar a.navbar-brand {
		font-size: 2em;
	}

	div.content {
		width: 95%;
	}

	img.side {
		float: none;
		width: 100%;
	}
}